{% assign img_folder = include.folder | default: page.slug %}
{% assign img_path = "assets/img/projects/" | append: img_folder %}

<div class="image-grid">
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
  
  {% assign images = site.static_files | where_exp: "file", "file.path contains img_path" %}
  
  {% for image in images %}
    {% assign ext = image.extname | downcase %}
    {% if ext == ".jpg" or ext == ".jpeg" or ext == ".png" or ext == ".gif" or ext == ".webp" %}
      <div class="image-tile">
        <a href="{{ image.path | relative_url }}" class="glightbox">
            <img src="{{ image.path | relative_url }}" alt="{{ image.basename }}">
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>